<div class="row">
  <div class="column">
    <div class="dashboard-stat running">
      <div class="cell">
        <h2>Running</h2>
        <span class="dashboard-value">
          <%= @dashboard_stats[:running] %>
        </span>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="dashboard-stat scheduled">
      <div class="cell">
        <h2>Scheduled</h2>
        <span class="dashboard-value">
          <%= @dashboard_stats[:scheduled] %>
        </span>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="dashboard-stat failing">
      <%= link_to jobs_path(status: 'failing') do %>
        <div class="cell">
          <h2>Failing</h2>
          <span class="dashboard-value">
            <%= @dashboard_stats[:failing] %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
