<!DOCTYPE html>
<html>
  <head>
    <title>Que WebEngine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'que/web_engine/application', media: 'all' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
