/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=cyrillic');

* {
  font-family: 'Source Sans Pro';
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
}

.row {
  display: flex;
}

.content {
  padding: 1rem;
}

.actions {
  display: flex;
}

.dashboard-row {
  display: flex;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #a8a29e;
  border-radius: .25rem;
  overflow: hidden;
}

.dashboard-row .dashboard-stat {
  text-align: center;
  display: table;
  width: 100%;
  background: #fff;
  border-right: 1px solid #a8a29e;
}

.dashboard-row .dashboard-stat:hover {
  background: #f5f5f4;
}

.dashboard-row .dashboard-stat:nth-last-of-type(1) {
  border: none;
}

.dashboard-row .dashboard-stat a {
  text-decoration: none;
}

.dashboard-row .dashboard-stat .cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}

.dashboard-row .dashboard-stat h2 {
  color: #222;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.dashboard-value {
  font-size: 2rem;
  line-height: 2rem;
  color: black;
}

.btn-primary {
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  background: #fde68a;
  border: 1px solid #fcd34d;
  border-radius: .25rem;
  padding: .25rem .5rem;
  margin-right: .5rem;
}

.btn-danger {
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  background: #E8866C;
  padding: .25rem .5rem;
  margin-right: .5rem;
}

.pagination {
  margin: 1rem auto;
}

.pagination .pagination-link {
  margin: 0 .5rem 0 0;
  padding: .25rem .5rem;
  background: #fde68a;
  border: 1px solid #fcd34d;
  border-radius: .25rem;
  text-decoration: none;
}

.pagination .pagination-link.disabled {
  background: #fef3c7;
}

.pagination .total-pages {
  margin: 0 .5rem 0 0;
  padding: .25rem .5rem;
}

.navigation {
  display: flex;
  padding: 0 1rem;
  background: #fff;
  border-bottom: 1px solid #e7e5e4;
  color: #000;
}

.navigation h1 {
  margin: 0 2rem 0 0;
  display: flex;
  align-items: center;
}

.navigation h1 a {
  text-decoration: none;
  color: #000;
}

.navigation .navigation-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .navigation-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navigation .navigation-section ul.version li {
  margin-left: 1rem;
}

.navigation .navigation-section ul li a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: #000;
}

.navigation .navigation-section ul li.active {
  background: #e7e5e4;
}

.search-form .form-select {
  margin-right: 1rem;
  padding: .5rem 1rem;
  border: 1px solid #e7e5e4;
  border-radius: .25rem;
  background: #fff;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #e7e5e4;
  border-bottom: none;
  border-radius: .25rem;
}

table th, table td {
  padding: .5rem .75rem;
  border-bottom: 1px solid #e7e5e4;
}

table th {
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}

table tbody tr:nth-of-type(2n), table tbody tr:hover {
  background: #EEE;
}

table tbody tr:nth-of-type(2n):hover {
  background: #DDD;
}

table p {
  margin: 0;
}

.lockers {
  margin-top: 2rem;
}

.lockers .locker-process {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .dashboard-row {
    flex-direction: column;
  }

  .dashboard-row .dashboard-stat {
    border-right: none;
    border-bottom: 1px solid #a8a29e;
  }
}
